.DS_Store
tmp
bin
build

*/*/modules
*/*/modules*
.apt_generated
build.properties
.svn
*.pyc
*~.nib/
*.pbxuser
*.perspective
*.perspectivev3
xcuserdata
*.xcuserstate
*.xcuserdata*

.idea/
libs/

android/clean
android/ant_clean
android/.classpath
android/.settings
android/dist/
android/launch-*
android/example/
nbproject
/metadata.json
/ios/metadata.json
ios/firebase.cloudmessaging-iphone-*.zip

android/java-sources.txt
android/build.properties
android/.project
android/platform/README.md
/ios/dist
/android/.gradle
